[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pykicad = "*"
shapely = "*"
electro-grammar = {git = "https://github.com/monostable/electro-grammar.git", editable = true, ref = "antlr"}
electro_grammar = {git = "https://github.com/monostable/electro-grammar.git", editable = true, ref = "antlr"}


[dev-packages]

pytest = "*"
twine = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"