[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pykicad = "*"
shapely = "*"


[dev-packages]

pytest = "*"
twine = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"