text {
    font-family: 'Verdana';
}

.outline {
    fill-opacity: 0;
    stroke: black;
    stroke-width: 0.05;
}

.crtyd {
    stroke: black;
    stroke-width: 0.05;
    fill-opacity: 0;
}

.pad {
    fill-opacity: 0.5;
}

.ref {
    font-size: 0.8px;
}

.pad-label {
    font-size: 0.4px;
    fill: white;
}

.via {
    fill-opacity: 1
}

.via .dia {
    fill: black;
}

.via .drill {
    fill: white;
}

.seg {
    stroke-linecap: round;
    stroke-opacity: 0.5;
}

/* Color segments and pads */
.layer.top .pad {
    fill: red;
}

.layer.top .seg {
    stroke: red;
}

.layer.inner1 .pad {
    fill: blue;
}

.layer.inner1 .seg {
    stroke: blue;
}

.layer.inner2 .pad {
    fill: purple;
}

.layer.inner2 .seg {
    stroke: purple;
}

.layer.bottom .pad {
    fill: green;
}

.layer.bottom .seg {
    stroke: green;
}
